In [0]:
%sql
create or replace view cgi_dev.naval_gold.vw_sales_details as 
(SELECT 
    o.order_id,
    o.order_date,
    o.customer_id,
    c.customer_name,
    c.customer_email,
    c.customer_city,
    o.product_id,
    p.product_name,
    p.product_category,
    p.product_price,
    o.quantity,
    o.discount_amount,
    o.total_amount,
    cgi_dev.anuradha.categorize_order(total_amount) as order_category
FROM cgi_dev.anuradha_silver.sales o
JOIN cgi_dev.anuradha_silver.products p
  ON o.product_id = p.product_id
JOIN (
      SELECT DISTINCT customer_id, customer_name, customer_email, customer_city 
      FROM cgi_dev.anuradha_silver.customers
     ) c
  ON o.customer_id = c.customer_id)

In [0]:
%sql
create or replace view cgi_dev.anuradha_gold.product_category as
(SELECT 
    product_category, 
    round(SUM(total_amount)) AS total_revenue
FROM cgi_dev.anuradha_gold.vw_sales_details
GROUP BY product_category
ORDER BY total_revenue DESC);

In [0]:
%sql
create or replace view cgi_dev.anuradha_gold.customer_revenue as
SELECT 
    customer_id, 
    customer_name, 
    round(SUM(total_amount)) AS total_revenue
FROM cgi_dev.anuradha_gold.vw_sales_details
GROUP BY customer_id, customer_name
ORDER BY total_revenue DESC
LIMIT 3;

In [0]:
%sql
create or replace view cgi_dev.anuradha_gold.order_category_count as
(select order_category, count(*) as count_order_category
from cgi_dev.anuradha_gold.vw_sales_details
group by order_category)

In [0]:
%sql
select * from cgi_dev.anuradha_gold.order_category_count